<p>
  第3回大会の情報は<a href="{{ '/archives/3rd/' | relative_url }}">第3回 Matz葉がにロボコン</a>でご覧いただけます。<br>
  第2回大会の情報は<a href="{{ '/archives/2nd/' | relative_url }}">第2回 Matz葉がにロボコン</a>でご覧いただけます。<br>
  第1回大会の情報は<a href="{{ '/archives/1st/' | relative_url }}">第1回 Matz葉がにロボコン</a>でご覧いただけます。<br>
  プレ大会の情報は<a href="{{ '/archives/pre/' | relative_url }}">Matz葉がにロボコン プレ大会</a>でご覧いただけます。
</p>
<ul class="list-unstyled">
  <li>かにロボ連盟：<a href="https://kani-robocon.com/" target="_blank" rel="noopener noreferrer">越前がにロボコン ↗</a></li>
  <li>姉妹大会：<a href="https://www.shimane-oss.org/dojyosukui-robo/" target="_blank" rel="noopener noreferrer">どじょうすくいロボコン ↗</a></li>
</ul>
<div class="footer-banners">
  <a href="https://www.shimane-oss.org/dojyosukui-robo/" target="_blank" rel="noopener noreferrer"><img class="img-fluid" srcset="{{ '/images/bn_dojyosukui.png' | relative_url }} 2x" alt="どじょうすくいロボコン"></a>
  <a href="https://gotochi-robocon.com/" target="_blank" rel="noopener noreferrer"><img class="img-fluid" srcset="{{ '/images/bn_gotochi.png' | relative_url }} 2x" alt="ご当地こどもロボコン"></a>
  <a href="https://smalruby-koshien.netlab.jp/" target="_blank" rel="noopener noreferrer"><img class="img-fluid" srcset="{{ '/images/SmalrubyKoshien_banner01.png' | relative_url }} 2x" alt="スモウルビープログラミング甲子園"></a>
</div>
